.resume{
    height:100%;

.timeline__education__header-text{
 display:flex;
 justify-content: center;
 align-items: center;
 color:var(--black-theme-main-color);
 font-size: 25px;
 margin-top:5px;
 margin-bottom: 6px;
 
 
}
.vertical-timeline-element-title{
    // display:flex;
    // justify-content: center;
    // align-items: center;
    color:var(--black-theme-background-color);
    font-size: 20px;
    margin-bottom: 6px;
    border-bottom: 2px dashed var(--black-theme-background-color);
}
.vertical-timeline-element-subtitle{
    // display:flex;
    // justify-content: center;
    // align-items: center;
    color:var(--black-theme-background-color);
    font-size: 15px;
}
.para{
    // display:flex;
    // justify-content: center;
    // align-items: center;
    color:var(--black-theme-background-color);
    font-size: 15px;
    line-height: 10px;
    margin-top:3px
}
}